.App {
  border: 2px solid black;
  text-align: center;
  
  color: #333;
  margin: 20px;
  padding: 20px;
 
  
}
/*.MyDiv{
	 border: 2px solid black;
     text-align: center;
     color: #333;
     margin: 20px;
     padding: 20px;
     background: #008000;
	 width: 300px;
     height: 300px;
}*/
